
/* General */
:root {
    /* Text */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
    /* Colors */
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #313147;
    --bg-secondary: #25252e;
    --scroll-primary: #7e007e;
    --scroll-secondary: #470047;
    --nav-primary: #23232e;
    --nav-secodary: #141418;


    /* Misc */
    --transition-speed: 600ms;
    --btn-size: calc(1vw + 20px)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-primary);
    background-color: var(--bg-primary);

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    padding: 0;
}
  
body::-webkit-scrollbar {
    width: 0.25rem;
}
  
body::-webkit-scrollbar-track {
    background: var(--scroll-secondary);
}
  
body::-webkit-scrollbar-thumb {
    background: var(--scroll-primary);
}
/*
header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}*/

main {
    min-height: 100%;
    margin-left: 5rem;
    padding: 1rem;
    flex: 1;
}

div#about-page footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}

li {
    list-style-type: none;
}

/* Nav bar */
.navbar {
    position: fixed;
    background-color: var(--scroll-primary);
    transition: width 600ms ease;
    overflow: hidden;
    z-index: 100;
}
  
.navbar-nav {
    background-color: var(--nav-secodary);
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
  
.nav-item {
    width: 100%;
}
  
.nav-item:last-child {
    margin-top: auto;
}
  
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
  
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--nav-secondary);
    color: var(--text-secondary);
}
  
.link-text {
    display: none;
    margin-left: 1rem;
}
  
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}
  
.fa-primary {
    color: #ff7eee;
}
  
.fa-secondary {
    color: #df49a6;
}
  
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
  
.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}
  
.logo-text
{
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}
  
.navbar:hover .logo svg {
    transform: rotate(-180deg);
}
  
  /* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
}
  
  /* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
}

/* Home */


/* Fokolas */


/* Keveres */


/* Higitas */


/* Themes */
.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}
  
.light #lightIcon {
    display: block;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.output {
    /*placeholder style*/
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    background-color: #ffcb2f;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    height: 6rem;
    padding: 1rem;
}

.warning {
    /* placeholder style */
    background-color: #ffcccc; /* Light red background */
    color: #cc0000; /* Dark red text color */
    border: 2px solid #cc0000; /* Dark red border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px 20px; /* Padding for content */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

button {
    cursor: pointer;
}

.active-nav {
    /* placeholder style */
    background-color: red;
}

button:has(.icon-svg) {
    
}

.icon-svg {
    height: 1rem;
    min-height: 1rem;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.no-style-button {
    background: none;
    border: none;
    color: inherit; /* Inherit text color from parent */
    cursor: pointer;
    padding: 0;
    font: inherit; /* Inherit font from parent */
    /* Additional styles can be added or adjusted as needed */
    width: 100%;
    height: 100%;
}

:focus {
    outline: 1px solid orange;
    box-shadow: none;
}

:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}

:focus-visible {
    outline: 2px solid blue;
}

.navbar :focus-visible {
    box-shadow: inset 0 0 200px rgba(0, 0, 255, 0.18);
}




[data-tooltip] {
    position: relative;
}

*, *::before, *::after {
    box-sizing: border-box;
}

[data-tooltip]::before,
[data-tooltip]::after {
    --scale: 0;
    --arrow-size: 8px;
    --tooltip-color: green;

    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;

        /* this style prevents persistence of the tooltip when hovering over it */
        pointer-events: none;
}

[data-tooltip]::before {
    --translate-y: calc(-100% - var(--arrow-size));

    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    border-radius: .3rem;
    text-align: center;
    width: max-content;
    max-width: 20rem;
    background: var(--tooltip-color);
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after,
[data-tooltip]:focus-visible::before,
[data-tooltip]:focus-visible::after {
    --scale: 1;
}

[data-tooltip]::after {
    --translate-y: calc(-1 * var(--arrow-size));

    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
}

.success {
    /* fill="currentColor" in an svg path will fill the svg with its color, which it gets from a class
    fill="colorvalue" is also working, but color="colorvalue" only works for text, and not for svgs*/
    color: green;
}